.footer{
    font-weight: normal;
    color: #777;
    padding: 15px 30px!important;
}
.footer a{
    color: #555!important;
    font-weight: normal!important;
}
.poem{
    text-align: center;
}
.poem img{
    max-width: 80%;
}
.ui-body{
    margin-bottom: 30px;
}